graft docs
graft daltons
graft ci
graft tests

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include .editorconfig
include tox.ini .travis.yml

include *requirements*.txt

include Makefile

global-exclude *.py[cod] __pycache__/* *.so *.dylib
